<!--<div ng-include="'views/layout/header.html'"></div>-->
<!-- Page Content -->
<!--<div id="page-wrapper">-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">SMPP Simulator</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <!--<div class="panel-heading">-->
        <!--Run test-->
        <!--</div>-->
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-lg-12">
                  <div class="heading box_heading hidden-xs hidden-sm col-md-2 col-lg-2">
                    TimeStamp
                  </div>
                  <div class="heading box_heading padding_l15_r0 border-left-white col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    Message
                  </div>
                  <div
                    class="heading box_heading padding_l15_r0 border-left-white  hidden-xs hidden-sm col-md-6 col-lg-6">
                    UserData
                  </div>
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-12 grow" style="overflow-x: auto; max-height: 300px; min-height: 100px">
                  <div
                    ng-repeat="item in listMessage"
                    class="col-lg-12  row_box cursor_pointer break-word"
                    ng-click="showDialogSmmMessage(item)"
                  >
                    <div class="padding_l_r_0 hidden-xs hidden-sm col-md-2 col-lg-2">
                      {{item.timeStamp}}
                    </div>
                    <div class="padding_l15_r0 col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      {{item.msg}}&nbsp;
                    </div>
                    <div class="padding_l15_r0 hidden-xs hidden-sm col-md-6 col-lg-6">
                      {{item.info}}&nbsp;
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-12 -->
              </div>
              <!-- /.panel-body -->
            </div>
          </div>
          <!-- /.row -->

          <div class="row" style="padding-top: 15px">
            <div class="col-lg-12">
              <button type="button" class="btn btn-primary"
                      ng-click="clickBtStartASession()"
                      ng-disabled="isStartSession">
                Start a session
              </button>
              <button type="button" class="btn btn-primary"
                      ng-click="clickBtStopSession()"
                      ng-disabled="!isStartSession">
                Stop a session
              </button>
              <button type="button" class="btn btn-primary" ng-click="clickBtRefreshState()">Refresh state</button>

              <button type="button" class="btn btn-primary" ng-click="clickBtSendBadPacket()">Send Bad packet</button>

              <button type="button" class="btn btn-primary hidden">Open event window</button>
            </div>
          </div>
          <!-- /.row -->
          <div class="row" style="padding-top: 15px">
            <div class="col-lg-12">
              <button type="button" class="btn btn-info" ng-click="showDialogSmppConfigure()">Configure</button>

            </div>
          </div>
          <!-- /.row -->
          <div class="row" style="padding-top: 15px">
            <div class="col-lg-12">
              <button type="button" class="btn btn-primary" ng-click="clickBtSubmitMessage()">Submit a message</button>
            </div>
          </div>
          <!-- /.row -->
          <div class="row" style="padding-top: 15px">
            <div class="col-lg-12">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="isRandomBulkMessages" value="true">
                  Random bulk messages
                </label>
              </div>
            </div>

          </div>
          <!-- /.row -->
          <div class="row" style="padding-top: 15px">
            <div class="col-lg-4">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="isRandomBulkMessages" value="false">
                  Bulk messages from pcap file
                </label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group input-group">
                <span class="input-group-addon">TCP Port for pcap parsing</span>
                <input type="text" ng-model="portForPcapParsing" ng-disabled="!isRandomBulkMessages"
                       class="form-control integer">
              </div>
            </div>
            <div class="col-lg-4">
              <button type="button" class="btn btn-primary"
                      ng-disabled="!isRandomBulkMessages"
                      ngf-select ng-model="files" ngf-multiple="false"
                      ngf-max-size="10MB">
                <i class="fa fa-file" aria-hidden="true"></i> Chose pcap file
              </button>
            </div>
          </div>
          <!-- /.row -->
          <div class="row" style="padding-top: 15px">
            <div class="col-lg-12">
              <button type="button" class="btn btn-primary">Start bulk sending</button>
              <button type="button" class="btn btn-primary">Stop bulk sending</button>
            </div>
          </div>
          <!-- /.row -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
<div ng-include="'views/dialog/dialogSmppConfigure.html'"></div>
<div ng-include="'views/dialog/dialogSmppMessage.html'"></div>
<!--</div>-->
<!-- /#page-wrapper -->
